<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :original_url %>
    <%= f.text_field :original_url %>
  </div>

  <div class="field">
    <%= f.label :translation_url %>
    <%= f.text_field :translation_url %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :contributor %>
    <%= f.text_field :contributor %>
  </div>

  <div class="field">
    <%= f.label :contributor_url %>
    <%= f.text_field :contributor_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
