<p id="notice"><%= notice %></p>

<!-- Marketing Icons Section -->
<div class="row">
	<div class="col-md-12">
		<h1>Plan B</h1>
		<hr />
  </div>
    <% @projects.each do |project| %>
    	<div class="col-md-4">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h4><%= project.title %><small><%= project.subtitle %></small></h4>
    			</div>
    			<div class="panel-body">
    				<p><%= project.description %>
    				</p>
    				<a href="<%= project.translation_url %>" class="btn btn-default" target="blank">번역 링크</a>
    			</div>
    			<div class="panel-author">
    					<span><%= project.contributor %></span>
    					<a href="<%= project.contributor_url %>" target="_blank">Home</a>
    			</div>
    		</div>
    	</div>
    <% end %>
</div>
<!-- /.row -->
