<!-- Header -->


  <!-- Log in-->
  <div id="login">
      <ul>
      <% if user_signed_in? %>
        <%= image_tag(current_user.image, size: '20x20', style:'border-radius:3px;vertical-align:top;') if current_user.image %>
        <%= current_user.email %>
        <%= link_to '로그아웃', destroy_user_session_path, method: :delete, data: {confirm: '로그아웃 하시겠습니까?'} %>
      <% else %>
        <%= link_to '페이스북 로그인', user_facebook_omniauth_authorize_path %>
        <%= link_to '로그인', new_user_session_path %>
        <%= link_to '회원가입', new_user_registration_path %>
      <% end %>
      </ul>
  </div>
  <div id="header-wrapper">
    <header id="header" class="container">



      <!-- Logo -->
        <div id="logo">
          <h1><a href="/">TranCo</a></h1>
          <span>by Rorlab</span>
        </div>

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li class="current"><a href="index.html">Welcome</a></li>
            <!--
            <li>
              <a href="#">Dropdown</a>
              <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li>
                  <a href="#">Phasellus consequat</a>
                  <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Phasellus consequat</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam dolore nisl</a></li>
                  </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
              </ul>
            </li>
          -->
            <li><a href="#">About</a></li>
            <li><%= link_to "Projects", projects_path %></li>
            <li><a href="#">Q & A</a></li>
          </ul>
        </nav>

    </header>
  </div>
